html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


:root {
    --primary: hsl(257, 40%, 49%);
    --primary-light: hsl(300, 69%, 71%);
    --primary-white: hsl(260, 100%, 99%);
    --font-small: 12px;
    --font-medium: 16px;
    --font-large: 24px;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: var(--font-medium);
    line-height: 1.5;
    margin: 2em;
    padding: 0;
    background-image: url("images/bg-desktop.svg");
    color: var(--primary-white);
    background-color: var(--primary);    
}

.illustration {
    flex:1;
    max-width: 100%;
    height: auto;
}

.text {
    flex: 1;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-large);
    line-height: 1.3;
    margin-bottom: 0.5em;
    padding-left: 2em;
}

main {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: var(--font-medium);
    padding: 0.5em 2em;
}

article {
    font-size: var(--font-medium);
    line-height: 1.3;
}
    
       
button {
    background-color: var(--primary-white);
    color: var(--primary);
    border-radius: 30px;
    padding: 8px 50px;
    margin: 2.2em;
    font-size: var(--font-medium);
    cursor: pointer;
}
      
button:hover {
    background-color: var(--primary-light);
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}


header {
    font-family: Poppins, sans-serif;
    font-size: var(--font-large);
    font-weight: 400;
    margin: 0.5em 2em;
}

.huddle-logo {
height: 50%;
width: auto;
}
    
.footer {
    font-family: Poppins, sans-serif;
    font-size: var(--font-small);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 15px;
    padding: 1rem;
}

.footer-logo {
    width: 40px;
    height: auto;
}
  
@media (min-width: 1024px) {
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: left;
    text-align: left;
    }
}

.links {
    display: flex; 
    justify-content: flex-start;
}

.rechts {
    display: flex;
    justify-content: flex-start;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }


.text {
    text-align: left;;
}

.footer {
    justify-content: flex-end;
    align-items: flex-end;
}